<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: header}">

    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{layout :: pageHeader}"></div>

<div id="calendar"></div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        var calendar = new FullCalendar.Calendar(
            document.getElementById('calendar'),
            {
                initialView: 'timeGridWeek'
            }
        );

        calendar.render();
    });
</script>

</body>
</html>