<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="~{layout :: header}"></head>

<body>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<div th:replace="~{layout :: pageHeader}"></div>

<div id="calendar"></div>

<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Nouveau RDV</h5>
            </div>

            <div class="modal-body">

                <select id="client" name="clientId">
                    <option value="">-- Choisir un client --</option>

                    <option th:each="client : ${clients}"
                            th:value="${client.id}"
                            th:text="${client.lastName}">
                    </option>
                </select>
                <select id="startTime" class="form-select"></select>
                <select id="endTime" class="form-select"></select>

                <input id="date" type="text" class="hidden">
            </div>

            <div class="modal-footer">
                <button id="submitBtn">Valider</button>
                <button data-bs-dismiss="modal">Annuler</button>
            </div>

        </div>
    </div>
</div>

<script>

    let calendarConfig = null;
    let modal = null;

    async function loadCalendarConfig() {
        const res = await fetch('calendar/config');

        return await res.json();
    }

    function createCalendar(el, cfg, onSelect) {

        const duration = `00:${String(cfg.slotStepMinutes).padStart(2, '0')}:00`;

        return new FullCalendar.Calendar(el, {

            initialView: 'timeGridWeek',
            slotMinTime: cfg.startTime,
            slotMaxTime: cfg.endTime,
            slotDuration: duration,
            hiddenDays: [0],
            selectable: true,
            select: onSelect
        });
    }

    document.addEventListener('DOMContentLoaded', async () => {

        const calendarEl = document.getElementById('calendar');

        calendarConfig = await loadCalendarConfig();

        modal = createEventModal(calendarConfig);

        const calendar = createCalendar(calendarEl, calendarConfig, (info) => {
            modal.open(info);
        });

        calendar.render();
    });

    function createEventModal(config) {

        const modalEl = document.getElementById('myModal');
        const instance = bootstrap.Modal.getOrCreateInstance(modalEl);

        const selectStartEl = document.getElementById('startTime');
        const selectEndEl = document.getElementById('endTime');


        const availableTimes = generateAvailableTimes(config);

        function availableTimesToDay(availableTime, date){


            const [hours, minutes] = availableTime.split(":").map(Number);

            const result = new Date(date);
            result.setHours(hours, minutes, 0, 0);

            return result;

        }

        function updateSelect() {

            const start = new Date(selectStartEl.value);
            const end = new Date(selectEndEl.value);

            const availableTimesToday = availableTimes.map(date => availableTimesToDay(date, start));

            renderSelect(selectStartEl, availableTimesToday, t => t < end);
            renderSelect(selectEndEl, availableTimesToday, t => t > start);

            selectStartEl.value = start;
            selectEndEl.value = end;
        }

        function initSelect(start, end) {


            const availableTimesToday = availableTimes.map(date => availableTimesToDay(date, start));

            renderSelect(selectStartEl, availableTimesToday, t => t < end);
            renderSelect(selectEndEl, availableTimesToday, t => t > start);

        }

        function renderSelect(selectEl, times, filterFn) {
            selectEl.replaceChildren(
                ...times
                    .filter(filterFn)
                    .map(createOption)
            );
        }

        function generateAvailableTimes(config) {
            const result = [];

            let [h, m] = config.startTime.split(':').map(Number);
            const [endH, endM] = config.endTime.split(':').map(Number);
            const step = config.slotStepMinutes;

            while (h < endH || (h === endH && m <= endM)) {
                result.push(`${String(h).padStart(2,'0')}:${String(m).padStart(2,'0')}`);

                m += step;
                if (m >= 60) {
                    h++;
                    m -= 60;
                }
            }

            return result;
        }

        function open(info) {

            const start = info.start;
            const end = info.end;

            initSelect(start, end);

            selectStartEl.value = start;
            selectEndEl.value = end;

            instance.show();
        }

        function submit(){

            const selectClient = document.getElementById('client');

            fetch('/api/events', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    startTime: selectStartEl.value,
                    endTime: selectEndEl.value,
                    clientId: selectClient.value,
                })
            });
        }
        function createOption(time) {
            const opt = document.createElement('option');
            opt.value = time;
            opt.textContent = time.toLocaleTimeString('fr-FR', {
                hour: '2-digit',
                minute: '2-digit'
            });
            return opt;
        }

        function timeToInt(time) {
            return Number(time.replace(':', ''));
        }



        return {
            open,
            submit,
            updateSelect
        };
    }

    document.getElementById('submitBtn').addEventListener('click', () => {
        modal.submit();
    });

    document.getElementById('startTime').addEventListener('change', () => {
        modal.updateSelect();
    });

    document.getElementById('endTime').addEventListener('change', () => {
        modal.updateSelect();
    });


</script>
</body>
</html>